[graph]
targets = [
    { triple = "x86_64-unknown-linux-gnu" },
    { triple = "x86_64-unknown-linux-musl" },
    { triple = "aarch64-unknown-linux-gnu" },
    { triple = "aarch64-unknown-linux-musl" },
]

[advisories]
ignore = []

[bans]
multiple-versions = "deny"
deny = [
    # Malware begone
    { name = "quote"},
    { name = "proc-macro"},
    { name = "proc-macro2"},
    { name = "serde"},
    { name = "serde_derive"},
    { name = "syn"},
    { name = "thiserror"},
    { name = "unicode-ident"},
    # Libc begone
    { name = "libc" },
]
skip = [
]

[sources]
allow-git = [
    "https://github.com/MarcusGrass/fontdue",
]

[licenses]
confidence-threshold = 1.0
allow = [
    "Apache-2.0",
    "MIT",
]
exceptions = [
    { name = "linux-rust-bindings", allow = ["MPL-2.0"] },
    { name = "pgwm", allow = ["GPL-3.0-only"] },
    { name = "pgwm-app", allow = ["GPL-3.0-only"] },
    { name = "pgwm-core", allow = ["GPL-3.0-only"] },
    { name = "pgwm-utils", allow = ["GPL-3.0-only"] },
    { name = "rusl", allow = ["MPL-2.0"] },
    { name = "tiny-start", allow = ["MPL-2.0"] },
    { name = "tiny-std", allow = ["MPL-2.0"] },
    { name = "xcb-rust-connection", allow = ["MPL-2.0"] },
    { name = "xcb-rust-protocol", allow = ["MPL-2.0"] },
]
